<div class="search">
<%= form_with(url: user_search_users_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :search, placeholder: "ユーザーを検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
  <p class="user-search-result">
  </p>
<% end %>
</div>