<h1>マイページ</h1>
<% if @user.id == current_user.id %>
  <p>名前 :<%= current_user.nickname%></p>
  <p>メールアドレス : <%= @user.email %></p>
<% else %>
  <p>名前 :<%= @user.nickname%></p>
  <p>メールアドレス : <%= @user.email %></p>
<% end %>

