<div class="hero"> 
  <div class="hero__title">Let`s English Tark</div>
  <p class="hero__content">英会話を楽しもう</p>
  <%= link_to '新規登録', '/users/sign_up', class: "hero__link" %>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
</div>
