<div class="hero"> 
  <div class="hero__title">Let`s English Tark</div>
  <p class="App-contents">英会話を楽しもう</p>
  <%= link_to '新規登録', '/users/sign_up', class: "new-user" %>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
</div>