<%= render 'link/header'%>
<div class="main">
</div>
<div class="word__main">
  <div class = "nav.justify-content-end">
    <h1>Edit(編集)</h1>
  </div>
  <%= render partial: "form", locals: { word: @word }%>
</div>
