<h1>Word一覧</h1>
<%= link_to '新規登録', new_word_path, class: 'btn btn-primary' %>

<div class="mb-3">
<table id="table", class="table-hover">
  <thead class="thead-default">
    <tr>
      <th>Word.human_attribute_name(:name)</th>
      <th>Word.human_attribute_name(:created_at)</th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= link_to word.name, word_path(word) %></td>
        <td><%= word.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
