<%= render 'link/header'%>
<div class="main__index">
  <div class="word__main">
    <div class = "word__main__box">
      <h2>＜ 投稿 ＞</h2>
      <div>
        <%= render partial: "form", locals: { word:@word,category:@categories}%>
      </div>
    </div>
  <div>
</div>


