<%= render 'link/header'%>
<div class="chat">
  <div class = "containar">
    <div class="chat_box">
      <div id = "messages">
        <%= render @messages %>
      </div>
    </div>
  </div>
</div>
<footer class="form">
  <div class ="bms__send">
    <input type="text" class="bms__send__message" id="chat-input"/>
    <button id="button__chat" class="bms__btn__send">送信</button>
  </div>
</footer>