<div class = "container">
  <h1>Chat room</h1>
  <div id = "messages">
    <ul class = "list-group">
      <%= render partial: "messages/message", locals: { message: @messages } %>
    </ul>
  </div>
  <%= form_with(model: @messages,local: true) do |f| %>
    <%= f.text_field :content %>
    <%= f.submit '送信' %>
  <% end %>
</div>