// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

.hero {
  //background-color: rgb(67, 193, 231);
  background: image-url('top');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width:100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.hero__title {
  color: rgb(27, 20, 27);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

.hero__content{
  color:rgb(28, 22, 29);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

.hero__link{
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  z-index: 1;
  display: inline-block;
  padding: 1rem 3rem;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, rgb(239, 243, 245), #dde3e6);
  color: black;
  font-size: 1.5rem;
  line-height: 35px;
  cursor: pointer;
  text-align: center;
}

.hero__login{
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  z-index: 1;
  display: inline-block;
  padding: 1rem 3rem;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, rgb(236, 236, 231), #e6e7e0);
  color: black;
  font-size: 1.5rem;
  line-height: 35px;
  cursor: pointer;
  text-align: center;
}