// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

.hero {
  background: image-url('top');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width:100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 4.8%;
  position: fixed;
  &__box{
    padding-top:130px;
    &__title{
      color: rgb(44, 23, 230);
      margin:10px 0 42px;
      font-size: 5rem;
      z-index: 1;
      font-family: 'Montserrat', sans-serif;
    }
    &__content{
      color:rgb(28, 13, 238);
      margin:10px 0 42px;
      font-size: 4rem;
      z-index: 1;
      font-family: 'Montserrat', sans-serif;
    }
  }
}

.hero__link{
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  z-index: 1;
  display: inline-block;
  padding: 1rem 3rem;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, rgb(67, 164, 212), #40ccdf);
  color: rgb(248, 248, 246);
  font-size: 1.5rem;
  line-height: 35px;
  cursor: pointer;
  text-align: center;
}

.hero__login{
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  z-index: 1;
  display: inline-block;
  padding: 1rem 3rem;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, rgb(236, 236, 231), #e6e7e0);
  color: black;
  font-size: 1.5rem;
  line-height: 35px;
  cursor: pointer;
  text-align: center;
}