// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stats{
  padding-top:5px;
  &__count{
    font-size: 2rem;
    margin:20px;
  }
  &:hover {
    text-shadow: 0 5px 5px #b388ff;
    transition: .3s;
    transform: translateY(-3px);
  }
}