.search{
  width:500px;
  margin:0 auto;
  padding:50px;
}

.word__serach{
  padding-top:16px;
}

.search-form,
.search-form__user{
  width:100%;
}
.search-input,
.search-input__user{
  border: 1px solid rgb(40, 54, 54);
  padding: 10px 30px;
  border-radius: 10px;
}

.search-category{
  border: 1px solid rgb(40, 54, 54);
}

.search-btn,
.search-btn__user{
  background:#3CCACE;
  color:white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
}

.word-search-result,
.user-search-result{
  position: absolute;
  width: 500px;
  z-index: 1;
  .search-result,
  .search-result__user{
    background-color: white;
    height: 35px;
    line-height: 35px;
    a{
      color: black;
    }
  }
}

