.search{
  width:650px;
  margin:0 auto;
}

.word__serach{
  padding-top:16px;
}

.search-form,
.search-form__user{
  width:100%;
}
.search-input,
.search-input__user{
  border: 1px solid rgb(40, 54, 54);
  padding: 10px 60px;
  border-radius: 10px;
}

.word-category{
  border-radius: 5px;
  width:90px;
  border: 1px solid rgb(40, 54, 54);
  cursor: pointer;
  float:left;
  height:45px;
  line-height:45px;
  &__box{
    cursor: pointer;
    font-size:1.1rem;
  }
}

.word__none{
  padding-top:80px;
}

.search-btn,
.search-btn__user{
  background:#3CCACE;
  color:white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  &:hover{
    background:rgb(255, 1, 192);
  }
  &__color{
    color:white;
  }
}

.word-search-result,
.user-search-result{
  position: left;
  width: 500px;
  z-index: 1;
  .search-result,
  .search-result__user{
    background-color: white;
    height: 35px;
    line-height: 35px;
    a{
      color: black;
    }
  }
}

