// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ログインページ
.login__top{
  //background:image-url('login');
  //background-size:100%;
  //background-repeat:none;
    padding: 7rem 0;
    text-align: center;
  &__container{
    //padding-top:85px;
    margin: 0 auto;
    height: auto;
    max-width: 1080px;
    &__title{
      position: relative;
      letter-spacing: .2rem;
      font-size: 2.3rem;
    }
    &__btn{
      display: inline-block;
      padding: 1rem 3rem;
      width: 250px;
      outline: none;
      border: none;
      border-radius: 20px;
      background: linear-gradient(to right, rgb(7, 164, 255), #3bc1ff);
      color: #fff;
      font-size: 1.5rem;
      line-height: 35px;
      cursor: pointer;
      &__sessions{
        display: inline-block;
        padding: 1rem 3rem;
        width: 250px;
        outline: none;
        border: none;
        border-radius: 20px;
        background: linear-gradient(to right, rgb(255, 7, 234), #ff3be5);
        color: #fff;
        font-size: 1.5rem;
        line-height: 35px;
        cursor: pointer;
      }
    }
  }
}

.field {
  margin-bottom: 10px;
  text-align:  center;
  margin-top: 2.5rem;
  padding: 5px;
  &__label {
    font-size:24px
  }
  &__input {
    padding: .5rem 1rem;
    width: 50%;
    border: 1px solid #333;
    border-radius: 3px;
    font-size: 1.1rem;
  }
}

//ユーザーマイページ
.main__user{
  padding:180px 0 1rem;
  width: 100%;
  height:auto;
  text-align: center;
  background: linear-gradient(to bottom, rgb(25, 210, 185), #5ef4ff);
  &__top{
    margin:0 auto;
    max-width: 1080px;
    height:auto;
    &__mypage{
      font-size:2rem;
      padding-bottom: 30px;
    }
    &__name{
      font-size:1.4rem;
      color:#fff;
    }
    &__profile{
      font-size:1.2rem;
    }
  }
}

.main__word{
  padding:30px;
  width: 100%;
  height:auto;
  text-align: center;
}