// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ログインページ
.login__top{
  //background:image-url('login');
  //background-size:100%;
  //background-repeat:none;
    padding: 7rem 0;
    text-align: center;
  &__container{
    //padding-top:85px;
    margin: 0 auto;
    height: auto;
    max-width: 1080px;
    &__title{
      position: relative;
      letter-spacing: .2rem;
      font-size: 2.3rem;
    }
    &__btn{
      display: inline-block;
      padding: 1rem 3rem;
      width: 250px;
      outline: none;
      border: none;
      border-radius: 20px;
      background: linear-gradient(to right, rgb(7, 164, 255), #3bc1ff);
      color: #fff;
      font-size: 1.5rem;
      line-height: 35px;
      cursor: pointer;
      &__sessions{
        display: inline-block;
        padding: 1rem 3rem;
        width: 250px;
        outline: none;
        border: none;
        border-radius: 20px;
        background: linear-gradient(to right, rgb(255, 7, 234), #ff3be5);
        color: #fff;
        font-size: 1.5rem;
        line-height: 35px;
        cursor: pointer;
      }
    }
  }
}

.field {
  margin-bottom: 10px;
  text-align:  center;
  margin-top: 2.5rem;
  padding: 5px;
  &__label {
    font-size:24px
  }
  &__input {
    padding: .5rem 1rem;
    width: 50%;
    border: 1px solid #333;
    border-radius: 3px;
    font-size: 1.1rem;
  }
}

//ユーザーマイページ
.main__user{
  padding:100px 0 1rem;
  width: 100%;
  height:auto;
  text-align: center;
  background: linear-gradient(to bottom, rgb(25, 210, 185), #5ef4ff);
  &__top{
    margin:0 auto;
    max-width: 1080px;
    height:auto;
    &__mypage{
      font-size:2rem;
      padding-bottom: 20px;
    }
    &__image{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      cursor: pointer;
      margin:0 auto;
      overflow: hidden;
      border: 1px solid #555;
      position: relative;
      &__box{
        width: 300px;
        height:300px;
      }
    }
    &__name{
      font-size:1.4rem;
      color:#fff;
      padding-top:8px;
    }
    &__profile{
      font-size:1.5rem;
      margin:20px;
    }
    &__like{
      font-size: 2rem;
      margin:20px;
      &:hover {
        text-shadow: 0 5px 5px #b388ff;
        transition: .3s;
        transform: translateY(-3px);
      }
    }
    &__list{
      display: flex;  
      align-items: flex-end;
      justify-content: space-around;
      margin: 4rem auto 0;
      width: 90%;
      li {
        margin-right: 1.6rem;
        &__stutas {
          color: white;
          letter-spacing: 2px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

.main__word{
  padding:30px;
  width: 100%;
  height:auto;
  text-align: center;
}

//ユーザーの一覧
.user__main {
  padding:2rem;
  text-align: center;
  &__box {
    margin:0 auto;
    max-width: 1080px;
    height: auto;
  }
}

.follow-list {
  display: inline-block;
  background-color: #FFFFFF;
  line-height: 60px;
  width: 255px;
  margin: 0 15px 30px;
  padding-top: 20px;
  font-size: 24px;
  border: solid 1px #EEEEEE;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  &__name {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  :hover {
    color: rgb(46, 211, 161);
  }
}

.search-box{
  padding-bottom:40px;
}